@model IEnumerable<OdeToFood.Data.Models.Restaurant>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Restaurants coming in hot!</h2>
    <h3>There are @Model.Count() restaurants in the database.</h3>
    <ul>
        @foreach(var restaurant in Model)
            {
                <li>@restaurant.Name</li>
            }
    </ul>
</div>